# Конфиденциальные файлы
.env
*.env

# Логи и временные файлы
/logs/
*.log
*.tmp

# Документация
/docs/

# Сессионные файлы
*.session.sql

# Среда разработки
.vscode/

# Загружаемые медиа файлы
uploads/